.produceIndex {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 5em;
}

.produceIndex li {
  display: flex;
  align-items: center;
  gap: 0.3em;
  border: 1px solid var(--color-lightgray);
  border-radius: 5px;
  padding: 0.1em 1em 0.1em 0.7em;
  text-decoration: none;
  color: var(--color-black-0);
  overflow: hidden;
}

.produceIndex li:hover {
  border: 1px solid var(--color-darkgray);
  cursor: pointer;
}

.produceIndex img {
  width: 40px;
}
