.card {
  background-color: var(--color-white-100);
  border-radius: 0.4rem;
  padding-block: 0.5em 0;
  padding-inline: 0.75em;
}

.cardTitle {
  text-transform: capitalize;
}

.cardContent {
  display: flex;
  align-items: center;
  line-height: 0;
  padding: 0;
}

.cardImg {
  width: 40px;
  height: 40px;
  /* max-width: 60px; */
}
